header{
	 text-align: center;
	 background: url("https://i.imgur.com/0zuRIuA.jpg?2");
	 background-size: cover;
	 color: white;
	 font-family: helvetica;
}
h1 {
	font-size: 70px;
	color: rgba(255,255,255,1);
  background-color: black;
  background: linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0));
  background:-webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0));
  background:-moz-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0);
}
    
@media(max-width: 500px) {
    h1 {
        font-size: 36px;
        color: #000;
    }
}

article {
max-width: 500px;
padding: 20px;
margin: 0 auto;
}
h2 {
  text-align: center;
  font-size: 30px;
}
.countries{
  text-align: center;
}
.type{
  text-align: center;
}
.transport{
  text-align: center;
}