header{
	 text-align: center;
	 background: url("https://i.imgur.com/0zuRIuA.jpg?2");
	 background-size: cover;
	 color: white;
	 font-family: helvetica;
}
body{
   background: #2E3740;
   color: rgba(255, 255, 255, 1);
}
h1 {
	font-size: 70px;
	color: rgba(255,255,255,1);
  background-color: black;
  background: linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0));
  background:-webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0));
  background:-moz-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0));
}
@media(max-width: 500px){

    h1 {
        font-size: 36px;
        color: #000;
    }
}

article {
max-width: 500px;
padding: 20px;
margin: 0 auto;
}
h2 {
  text-align: center;
  font-size: 30px;
}
.box {
  width: 600px;
  height: 200px;
  background: #ccc; 
  border-radius: 40px;
  border: 15px solid #999;
  margin: 0px auto;
}
.box a {
  color: antiquewhite;
}
.box a:hover {
  color: pink;
}
.countries{
  text-align: center;
  background: url('Photos/Bruges.JPG');
  background-size: cover;
  font-size: 35px;
}
.type{
  text-align: center;
  background: url('Photos/IMG_0023.jpg');
  background-size: cover;
  font-size: 35px;
}
.transport{
  text-align: center;
  background: url('Photos/IMG_0064.jpg');
  background-size: cover;
  font-size: 35px;
}