header{
	 text-align: center;
	 background: url("https://i.imgur.com/0zuRIuA.jpg?2");
	 background-size: cover;
	 color: white;
	 font-family: helvetica;
}
body{
   background: #2E3740;
   color: rgba(255, 255, 255, 1);
}
.carousel-inner>.item>img {
margin: 0 auto;
height: 600px;
width: 450px;
}