header{
	 text-align: center;
	 background: url("https://i.imgur.com/0zuRIuA.jpg?2");
	 background-size: cover;
	 color: white;
	 font-family: helvetica;
}
body{
   background: #2E3740;
   color: rgba(255, 255, 255, 1);
}
.carousel-inner>.item>img {
margin: 0 auto;
height: 600px;
width: 500px;
}

.carousel-inner>.item>.carousel-caption {
	width: 500px;
	text-align: center;
	margin: 0 auto;
	background-color: black;
  background: linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0.2));
  background:-webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0.2));
  background:-moz-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0.2));
}